#root {
  max-width: 1280px;
  width: 520px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fil-right{
    width: 35px;
    height: 35px;
}
.actionArea{
    height: 75%;
    width: 95%;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 43px;
}