#root {
  max-width: 400px;
  width: 393px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}
.fil-right{
    width: 39px;
    height: 39px;
}
.actionArea{
    height: 80%;
    width: 95%;
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 43px;
}