#root {
  max-width: 1280px;
  width: 520px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fil-right{
    width: 56px;
    height: 56px;
}